<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h3 class="card-tittle">Inversiones ( <small>1</small> )</h3>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Fecha de Inicio</th>
                            <th>Plazo</th>
                            <th>Monto</th>
                            <th>Interés Generado</th>
                            <th>Fecha de Liquidación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr *ngFor="let medico of medicos">
                            <td class="w70">
                                <img [src]="medico.img | imagen:'medico'" class="img-50">
                            </td>
                            <td>
                                {{ medico.nombre }}
                            </td>
                        </tr> -->
                        <tr>
                            <td>10/08/2020</td>
                            <td>2 meses</td>
                            <td>$100.00</td>
                            <td>$50.00</td>
                            <td>10/08/2020</td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <label class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i> Total: $50.00</label>
                </div>
            </div>
        </div>
    </div>
</div>