<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img src="../assets/images/icon/expense.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Total saldo disponible</h6>
                        <h2 class="m-t-0">{{totalSaldo | currency}}</h2>
                    </div>

                </div>
            </div>
        </div>
        <div class="row animated fadeIn" *ngIf="cargando">

            <div class="col-sm-12">
                <div class="alert alert-warning text-center">
                    <strong>Cargando</strong>
                    <br>
                    <i class="fa fa-refresh fa-spin fa-2x"></i>
                    <span>Espere por favor</span>
                </div>
            </div>

        </div>
        <div class="card">
            <div class="card-body">
                <div style="float: left ;">
                    <h3 class="card-tittle">Historial de Transacciones ( <small class="font-bold">{{totalTransacciones}}</small> )</h3>
                </div>
                <div class="btn-regresar">
                    <button [routerLink]="['/dashboard']" class="btn btn-success-secondary"><i class ="fa  fa-mail-reply"></i> regresar</button>
                </div>

                <div class="table-responsive m-t-40">
                    <table id="tablaT" class="table color-table muted-table" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th>Transacción</th>
                                <th>Monto</th>
                                <th>Saldo Contable</th>
                                <th>Saldo Disponible</th>
                            </tr>
                        </thead>

                        <tbody>
                        </tbody>
                    </table>
                </div>



            </div>
        </div>
    </div>
</div>