<form #f="ngForm" ngNativeValidate (ngSubmit)="generarAmortizacion(f)">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body marbot">
                <h4 class="font-weight-bold"> Modelo del Prestamo </h4>
                <div class="row">
                    <div class="col-sm-12 col-xs-12">

                        <div class="form-group">
                            <label>Tipo de Prestamo:* <span *ngIf="infprestamo" class="text-info">Seleccione una opción</span> <code *ngIf="errortipoPrestamo">Debe seleccionar una opción</code></label>
                            <select #tipoPrestamo_cbx class="custom-select col-12" name="tipoPrestamo" (ngModelChange)="onChangesPrestamo($event)" ngModel="">
                                <option value="1">COLECTIVO</option>
                                <option value="2">CREDI POLIZA</option>
                                <option value="3">CREDIFLASH</option>
                                <option value="4">ORDINARIO</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Periodicidad:*</label>
                            <select ngModel #periodicidad_cbx name="periodicidad" (ngModelChange)="onChangesPeriodicidad($event)" class="form-control custom-select" required>
                                <option value="30">MENSUAL</option>
                                <option value="15">QUINCENAL</option>
                                <option value="7">SEMANAL</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-body marbot">
                <h4 class="font-weight-bold"> Prestamo </h4>
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Monto:* <code *ngIf="errorMonto">El monto máximo es {{montoMaximo}}</code></label>
                            <input ngModel #monto class="form-control" type="number" name="monto" (ngModelChange)="onChangesMonto($event)">
                        </div>
                        <div class=" form-group ">
                            <label for="exampleInputEmail1 ">Número de pagos:*</label>
                            <input ngModel #numPagos class="form-control " type="number " name="numPagos " readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row ">
        <div class="col-12 marbot ">
            <div class="text-right ">
                <button class="btn btn-primary btn-principal" type="submit">
                <i class="mdi mdi-table"></i>  
                Generar tabla de amortización
            </button>
            </div>
        </div>
    </div>
</form>


<div class="row animated fadeIn " *ngIf="cargando ">

    <div class="col-sm-12 ">
        <div class="alert alert-warning text-center ">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x "></i>
            <span>Espere por favor</span>
        </div>
    </div>

</div>
<div class="row animated fadeIn " *ngIf="!cargando ">
    <div class="col-12 ">
        <div class="card ">

            <div class="card-body ">

                <h3 class="card-tittle ">Tabla de amortización</h3>

                <div class="table-responsive m-t-40">
                    <table id="tablaT" class="table color-table muted-table" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Cuota</th>
                                <th>Saldo de deuda</th>
                                <th>Interes</th>
                                <th>Pago</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Cuota</th>
                                <th>Saldo de deuda</th>
                                <th>Interes</th>
                                <th>Pago</th>
                            </tr>
                        </tfoot>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>