#themecolors a {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.w150 {
    width: 150px;
}

.w70 {
    width: 70px;
}

.img-50 {
    width: 50px;
}

.oculto {
    display: none;
}

.fondo-negro {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.svg-logo {
    vertical-align: -webkit-baseline-middle;
    border-style: none;
    display: inline-block;
}

.svg-dark-logo {
    width: 50px;
}

.svg-light-logo-text {}

.svg-dark-logo-text {
    width: 120px;
    margin-left: 10px;
}

.svg-light-logo {}

.marbot {
    margin-bottom: 10px;
}

#tablaP tbody tr {
    cursor: pointer;
}