<div class="row animated fadeIn" *ngIf="cargando">

    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <span>Espere por favor</span>
        </div>
    </div>

</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img src="../assets/images/icon/expense.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Total saldo disponible</h6>
                        <h2 class="m-t-0">{{totalSaldo | currency}}</h2>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h3 class="card-tittle">Cuentas activas ( <small>{{totalCuentas}}</small> )</h3>

                <div class="table-responsive">
                    <table class="table color-table muted-table">

                        <thead>
                            <tr>
                                <th>Cuenta</th>
                                <th>Tipo</th>
                                <th>Saldo Contable</th>
                                <th>Saldo Disponible</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cuenta of cuentas">
                                <td>
                                    <a [routerLink]="['/transacciones', cuenta._id]">{{ cuenta.nrocuenta }}</a>
                                </td>
                                <td>
                                    {{ cuenta.tipo }}
                                </td>
                                <td>
                                    {{ cuenta.scont | currency }}
                                </td>
                                <td>
                                    {{ cuenta.sdisp | currency }}
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    TOTAL:
                                </td>
                                <td>
                                    {{totalSaldo | currency}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>