<div class="row animated fadeIn" *ngIf="cargando">

    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <span>Espere por favor</span>
        </div>
    </div>

</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div *ngFor="let cuenta of cuentas" class="col-lg-4">
        <div class="card bg-info text-white">
            <a [routerLink]="['/transacciones', cuenta._id]">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="stats">
                            <h1 class="text-white">{{cuenta.sdisp | currency}}</h1>
                            <h6 class="text-white">Saldo | {{cuenta.tipo}}</h6>
                        </div>
                        <div class="stats-icon text-right ml-auto"><i class="fa fa-dollar display-5 op-3 text-dark"></i></div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h3 class="card-tittle">Cuentas ( <small>{{totalCuentas}}</small> )</h3>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Cuenta</th>
                                <th>Tipo</th>
                                <th>Saldo Contable</th>
                                <th>Saldo Disponible</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cuenta of cuentas">
                                <td>
                                    <a [routerLink]="['/transacciones', cuenta._id]">{{ cuenta.nrocuenta }}</a>
                                </td>
                                <td>
                                    {{ cuenta.tipo }}
                                </td>
                                <td>
                                    {{ cuenta.scont | currency }}
                                </td>
                                <td>
                                    {{ cuenta.sdisp | currency }}
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    TOTAL:
                                </td>
                                <td>
                                    {{totalSaldo | currency}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>